$color--white: #fff;
$color--black: #000;
$color--grey: #2c3e50;
$color--black--light: rgba(0, 0, 0, 0.5);
$color--error: rgba(211, 20, 20, 1);
$color--error--light: rgba(211, 20, 20, 0.5);

$color--primary: #00233d;
$color--secondary: #42b0d5;
$color--danger: #b80012;

$color--primary--disabled: rgba(0, 35, 61, 0.8);
$color--secondary--disabled: rgba(66, 176, 213, 0.8);
$color--danger--disabled: rgba(184, 0, 18, 0.8);
$color--list: rgba(0, 35, 61, 0.3);

$color--secondary--border: #42b0d5;
$color--disabled: #706c6ce1;
